<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content= "width=device-width, user-scalable=no">
    <title>Snake Game</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/controls.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
</head>
<body>
    <h1 class="title">Snake game</h1>
    <div class='container'>
        <div class='row justify-content-center'>
            <button type="button" class="btn btn-dark" style="height:50px;width: 100px;margin: 10px" id="up">Up</button>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-dark" style="height:50px;width: 100px;margin: 10px" id="left">Left</button>
            <button type="button" class="btn btn-dark" style="height:50px;width: 100px;margin: 10px" id="right">Right</button>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-dark" style="height:50px;width: 100px;margin: 10px" id="down">Down</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
        function pushUp(){
            $.ajax({
                method: "GET",
                url: "snake/up",
                })
                .done(function() {
                    console.log("Up Pushed");
                });
            }
            function pushDown(){
            $.ajax({
                method: "GET",
                url: "snake/down",
                })
                .done(function() {
                    console.log("Down Pushed");
                });
            }
            function pushRight(){
            $.ajax({
                method: "GET",
                url: "snake/right",
                })
                .done(function() {
                    console.log("Right Pushed");
                });
            }
            function pushLeft(){
            $.ajax({
                method: "GET",
                url: "snake/left",
                })
                .done(function() {
                    console.log("Left Pushed");
                });
            }
        $("#up").click(pushUp)
        $("#down").click(pushDown)
        $("#left").click(pushLeft)
        $("#right").click(pushRight)
    </script>
</body>
